
.zogo-form-radio{
    float:left;
    line-height:16px;
    margin-top: 6px;
    padding-left:17px;
    background:url(../image/Home/Index/radio.png) no-repeat left 0px;
    cursor:pointer;
    display: -moz-inline-stack;  /*Firefox only code*/
    display: inline-block;       /*some standard browsers*/
    zoom: 1;                     /*IE only*/
    *display: inline;            /*Only IE know this code (CSS Hack)*/
    background-position:0 -14px;
    margin-right: 12px;
}
.notify_emial_middle{
    width: 48px;
}
.notify_emial_small{
    width: 47px;
}
.zogo-form-radio:hover{background-position:0 -48px;}
.zogo-form-radio-checked{background-position:0 -48px;}
