/* 
    Document   : footer
    Created on : 2013-4-12, 13:39:07
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.footer{
    background:url(../image/Home/Index/footer.png);
    width: 800px;
    height:68px;
    color: white;
}



#termUser:hover{
    text-decoration:underline; 
}