<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       
       
        <%= stylesheet_link_tag    "css" %><%= stylesheet_link_tag    "lanrenzhijia" %><%= stylesheet_link_tag    "txcssx" %>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <script type="text/javascript" src="/assets/jquery-1.8.0.min.js">
</script>
        <script type="text/javascript" src="/assets/lanrenzhijia.js">
</script>
        <title>ddddd</title>
    </head>
    <body>
        <!--qq代码结束-->
        <div class="head">
            <div class=" headk">
                <div id="logo">
                    <img src="/assets/icon4(ms).png" width="50" height="50" alt="logo">
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="welcome" style="border-bottom:2px #2dc1f8 solid; color:#2dc1f8;">首页</a>
                        </li>
                        <li>
                            <a href="service">案例</a>
                        </li>
                       <!--  <li>
                            <a href="#">团队</a>
                        </li>
                        <li>
                            <a href="＃">关于</a>
                        </li>
                        <li>
                            <a href="#">登录</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div id="tou"></div>
        <div id="full-screen-slider">
            <div class="syfdan">
                <div class="syfdany">
                    <div class="syfdanylf"></div><!--<div class="anxwz">(注册即获赠免费体验)</div>-->
                </div>
            </div>
            <ul id="slides" style="z-index: 99;">

               <li style="background-image: url(http://localhost:3000/assets/01.jpg); z-index: 900; display: block; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
    <li style="background-image: url(http://localhost:3000/assets/02.jpg); z-index: 800;display: none; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
      <li style="background-image: url(http://localhost:3000/assets/03.jpg); display: none; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
      <li style="background-image: url(http://localhost:3000/assets/04.jpg); display: none; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
            </ul>
        </div>
        <div class="dkk">
            <div class="dkklm" style="height:440px;">
                <div class="ye" style="padding-top:30px;">
                    <div class="yskk">
                        <div class="yskks" onclick="location.href='service.html#oa'" style="cursor:pointer;">
                            <div class="yskks_img">
                                <img src="/assets/ys01.png" width="60" height="60" alt="移动OA">
                            </div>
                            <div class="yskks_wz">
                                微信OA
                            </div>
                        </div>
                        <div class="yskkx">
                            <strong>R&M，为企业量身定做的移动办公、团队协同、微信公众平台。</strong>
                        </div>
                        <div class="yskkxb">
                           随时随地在线发布通知公告、会议管理，团队信息流通畅；快速实现流程审批、出差申请、费用申请，团队工作流通畅；管理员汇总考勤记录、出差记录，了解团队出勤状况。 R&M，简化办公流程，提高办公效率！
                        </div>
                    </div>
                    <div class="yskk" style="padding-left:47px;">
                        <div class="yskksa" onclick="location.href='service.html#wq'">
                            <div class="yskks_img">
                                <img src="/assets/ys02.png" width="60" height="60" alt="移动外勤">
                            </div>
                            <div class="yskks_wz">
                                微信外勤
                            </div>
                        </div>
                        <div class="yskkxa">
                            <strong>R&M，外勤人员的便捷工作平台，外勤团队的高效管理工具。</strong>
                        </div>
                        <div class="yskkxb">
                          外勤人员便捷记录外勤过程，及时汇报外勤工作状况；管理者灵活查阅外勤汇总路线，了解外勤人员工作实况，合理分配外勤任务。 R&M，简化外勤团队管理，提高外勤人员的办公效率，外勤团队尽在“掌”控。
                        </div>
                    </div>
                    <div class="yskk" style="padding-left:47px;">
                        <div class="yskksg" onclick="location.href='service.html#cr'">
                            <div class="yskks_img">
                                <img src="/assets/ys03.png" width="60" height="60" alt="移动CRM">
                            </div>
                            <div class="yskks_wz">
                                微信CRM 
                            </div>
                        </div>
                        <div class="yskkxg">
                            <strong>R&M，全景式客户信息采集，全程化销售过程管理。</strong>
                        </div>
                        <div class="yskkxb">
                            拓展人员随时随地建立、维护客户信息，管理者随时随地管理、使用客户信息，客户资源分权使用；管理者为拓展人员提供一对一的指点。团队分工合作，形成良性客户拓展模式。R&M，提高客户资源价值转化率！
                        </div>
                    </div>
                    <div class="yskk" style="padding-left:47px;">
                        <div class="yskksc" onclick="location.href='service.html#xs'">
                            <div class="yskks_img">
                                <img src="/assets/ys04.png" width="60" height="60" alt="移动营销">
                            </div>
                            <div class="yskks_wz">
                                微信营销
                            </div>
                        </div>
                        <div class="yskkxc">
                            <strong>R&M，实时采集销售数据，及时生成智能报表分析。</strong>
                        </div>
                        <div class="yskkxb">
                            营销人员在手机上实时操作销售上报、入库盘点、库存管理、订单管理，管理人员实时查看销售报表、趋势分析、竞争分析，并制定销售计划。用数据支持决策，让销售决策更科学。 R&M，让营销团队更智能！
                        </div>
                    </div>
                </div>
        </div>
        <div class="main_foot">
            <div class="foot">
               
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>关于</span>
                    </li>
                    
                    <li>
                        <a href="team">R&M信息安全</a>
                    </li>
                    <li>
                        <a href="user">R&M用户协议</a>
                    </li>
                </ul>
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>合作</span>
                    </li>
                   
                    <li>
                        <a href="%EF%BC%83">商务合作：zzlmilk@icloud.com</a>
                    </li>
                    <li>电话：15901794453
                    </li>
                   
                </ul>
                <ul class="list4">
                    <li>
                        <span>联系我们</span>
                    </li>
                    <li>
电话：15901794453
                    </li>
                    <li>QQ：413124766
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="zuidibu">
            <div class="zuidibuzj">
                Copyright © 2012 - 2014 上海R&M有限公司。
            </div>
        </div><script type="text/javascript">
var default_view = 1; <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->
        </script><script type="text/javascript" src="/assets/txqqx.js">
</script>
    </body>
</html>