<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            R&M,一站式移动信息化服务平台，广东马上信息科技有限公司
        </title>
        <meta content="移动协同，移动OA，移动办公，移动外勤，移动营销，移动CRM，手机OA,马上信息" name="keywords">
        <meta content="R&M，一站式移动信息化服务平台，是企业移动协同系统领导品牌，专业提供移动办公，移动OA，移动外勤，移动营销，移动CRM，手机OA，按需定制软件等信息化整体解决方案，提供免费下载试用，咨询热线：4000224009" name="description"><%= stylesheet_link_tag    "css" %><%= stylesheet_link_tag    "lanrenzhijia" %><%= stylesheet_link_tag    "txcssx" %><%= stylesheet_link_tag    "homef" %>
        <script type="text/javascript" src="/assets/jquery-1.8.0.min.js">
</script>
        <script type="text/javascript" src="/assets/lanrenzhijia.js">
</script>
        <script src="/assets/jquery.flow.1.2.js" type="text/javascript">
</script>
        <script language="javascript" type="text/javascript">
var Then = new Date(); 
        Then.setTime(Then.getTime() + 12*60*60*1000 ); //秒分 
        var cookieString = new String(document.cookie); 
        var cookieHeader = "POPWIN" ; 
        var beginPosition = cookieString.indexOf(cookieHeader); 
        if (beginPosition == -1) 
        { 
        var newtop=0 
        var newleft=0 
        if (navigator.appName == "Netscape") { 
        layerStyleRef="layer."; 
        layerRef="document.layers"; 
        styleSwitch=""; 
        } 
        else 
        { 
        layerStyleRef="layer.style."; 
        layerRef="document.all"; 
        styleSwitch=".style"; 

        } 
        var autoclick_ok=false; 
        function toExit(){ 
        autoclick_ok=true; 
        document.cookie = "Cookie9=POPWIN;expires="+ Then.toGMTString() +";path=/"; 
        } 

        function doMouseMove() { 

        layerName = 'iit' 
        eval('var curElement='+layerRef+'["'+layerName+'"]') 
        eval(layerRef+'["'+layerName+'"]'+styleSwitch+'.visibility="hidden"') 
         
        if(!autoclick_ok) 
        { 
            eval('curElement'+styleSwitch+'.visibility="visible"') 
        }else{ 
            eval('curElement'+styleSwitch+'.visibility="hidden"') 
        } 
         
        eval('newleft=document.body.clientWidth-curElement'+styleSwitch+'.pixelWidth') 
        eval('newtop=document.body.clientHeight-curElement'+styleSwitch+'.pixelHeight') 
        eval('height=curElement'+styleSwitch+'.height') 
        eval('width=curElement'+styleSwitch+'.width') 
        width=parseInt(width) 
        height=parseInt(height) 
        if (event.clientX > (document.body.clientWidth - 10 - width)) 
        { 
        newleft=document.body.clientWidth + document.body.scrollLeft - 10 - width 
        } 
        else 
        { 
        newleft=document.body.scrollLeft + event.clientX-10 
        } 
        eval('curElement'+styleSwitch+'.pixelLeft=newleft') 

        if (event.clientY > (document.body.clientHeight - 5 - height)) 
        { 
        newtop=document.body.clientHeight + document.body.scrollTop - 5 - height 
        } 
        else 
        { 
        newtop=document.body.scrollTop + event.clientY-10 
        } 
        eval('curElement'+styleSwitch+'.pixelTop=newtop') 
        } 

        document.onmousemove = doMouseMove; 

        if (navigator.appName == "Netscape") { 

        } 
        else 
        { 

        } 
        }
        </script>
        <script type="text/javascript">
$(document).ready(function() {  

        $(function() {
        $("div#controller").jFlow({     
        slides: "#slides",
        controller: ".flowctrl", 
        slideWrapper : "#jFlowSlide", 
        selectedWrapper: "jFlowSelected", 
        width: "960px",
        height: "500px",
        duration: 400,
        prev: ".flowprev", 
        next: ".flownext" 
        });
        });
        $(".overlay h1").click(function(){ 
        window.location=$(this).find("a").attr("href");return false;
        });
        $(".bottom-block").hover(function() { 
        $(this).addClass("bottom-block-over");    
        }, function() {
        $(this).removeClass("bottom-block-over"); 
        }); 
        $(".bottom-block").click(function(){ 
        window.location=$(this).find("a").attr("href");return false;
        });
        }); 
        </script>
        <script type="text/javascript">
window.onload=function clear_a(){
        var a;
        for(var i=0;(a=document.getElementsByTagName("a")[i]);i++){
        if(a.getAttribute("onfocus")==null){
        a.setAttribute("onfocus","this.blur();");
        }else{
        a.setAttribute("onfoucs",a.getAttribute("onfocus")+";this.blur();");}
        a.setAttribute("hideFocus","hidefocus");
        }
        }
        </script>
    </head>
    <body>
        <div class="head">
            <div class=" headk">
                <div id="logo">
                    <img src="/assets/icon4(ms).png" width="50" height="50" alt="logo">
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="welcome" >首页</a>
                        </li>
                        <li>
                            <a href="service" >案例</a>
                        </li>
                       <!--  <li>
                            <a href="#">团队</a>
                        </li>
                        <li>
                            <a href="＃">关于</a>
                        </li>
                        <li>
                            <a href="#">登录</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div id="tou"></div>
        <div class="dkk">
            <div class="dkklm" style=" padding-bottom:30px;">
                <div id="container">
                    <div id="content">
                        <div id="jFlowSlide" style="position: relative; width: 960px; height: 500px; overflow: hidden;">
                            <div id="slides" style="position: relative; width: 4800px; height: 500px; overflow: hidden; margin-left: 0px;">
                                <div class="jFlowSlideContainer" style="position: relative; width: 960px; height: 500px; float: left; overflow: auto;">
                                    <div class="slide sl-home">
                                        <p class="more"></p>
                                    </div>
                                </div>
                                <div class="jFlowSlideContainer" style="position: relative; width: 960px; height: 500px; float: left; overflow: auto;">
                                    <div class="slide sl-featured"></div>
                                </div>
                                <div class="jFlowSlideContainer" style="position: relative; width: 960px; height: 500px; float: left; overflow: auto;">
                                    <div class="slide sl-portfolio"></div>
                                </div>
                                <div class="jFlowSlideContainer" style="position: relative; width: 960px; height: 500px; float: left; overflow: auto;">
                                    <div class="slide sl-about"></div>
                                </div>
                                <div class="jFlowSlideContainer" style="position: relative; width: 960px; height: 500px; float: left; overflow: auto;">
                                    <div class="slide sl-portfoliof"></div>
                                </div><!--<DIV class="slide sl-portfoliof"></DIV>-->
                            </div>
                        </div>
                        <ul id="pagination" style="z-index:100"></ul>
                        <div id="controller">
                            <span class="flowprev"><a href="#" onfocus="this.blur();" hidefocus="hidefocus">&lt;</a></span> <span class="flowctrl jFlowSelected" style="width:165px;"><a href="#" onfocus="this.blur();" hidefocus="hidefocus"><span style="line-height:50PX; width:100px;">上午 休息室&nbsp;PC</span></a></span> <span class="flowctrl" style="width:165px;"><a href="#" onfocus="this.blur();" hidefocus="hidefocus"><span style="line-height:50PX; width:100px;">上午 酒店&nbsp;手机</span></a></span> <span class="flowctrl" style="width:165px;"><a href="#" onfocus="this.blur();" hidefocus="hidefocus"><span style="line-height:50PX; width:100px;">中午 机场&nbsp;Pad</span></a></span> <span class="flowctrl" style="width:165px;"><a href="#" onfocus="this.blur();" hidefocus="hidefocus"><span style="line-height:50PX; width:100px;">下午 咖啡厅&nbsp;手机</span></a></span> <span class="flowctrl" style="width:165px;"><a href="#" onfocus="this.blur();" hidefocus="hidefocus"><span style="line-height:50PX; width:100px;">傍晚 办公室&nbsp;PC</span></a></span> <span class="flownext"><a href="#" onfocus="this.blur();" hidefocus="hidefocus">&gt;</a></span>
                        </div>
                    </div>
                </div><!--<div class="sytp" ><img src="images/gg.jpg" width="960" height="228" /></div>-->
                <!--一大列开始-->
                <div class="fud">
                    <!--第一列-->
                    <!--真正开始-->
                    <a name="oa" onfocus="this.blur();" hidefocus="hidefocus"></a>
                    <div class="fuwu" style="padding-top:70px;">
                       
                    </div>
                </div>
            </div>
            <div class="main_foot">
            <div class="foot">
               
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>关于</span>
                    </li>
                   
                    <li>
                        <a href="team">R&M信息安全</a>
                    </li>
                    <li>
                        <a href="user">R&M用户协议</a>
                    </li>
                </ul>
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>合作</span>
                    </li>
                  
                    <li>
                        <a href="javascript:void(0)">商务合作：zzlmilk@icloud.com</a>
                    </li>
                    <li>电话：15901794453
                    </li>
                   
                </ul>
                <ul class="list4">
                    <li>
                        <span>联系我们</span>
                    </li>
                    <li>
电话：15901794453
                    </li>
                    <li>QQ：413124766
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="zuidibu">
            <div class="zuidibuzj">
                Copyright © 2012 - 2014 上海R&M有限公司。
            </div>
        </div>
        </div>
    </body>
</html>