<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><%= stylesheet_link_tag    "css" %><%= stylesheet_link_tag    "lanrenzhijia" %><%= stylesheet_link_tag    "txcssx" %>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <title>
            ddddd
        </title>
    </head>
    <body>
        <!--qq代码结束-->
        <div class="head">
            <div class=" headk">
                <div id="logo">
                    <img src="/assets/icon4(ms).png" width="50" height="50" alt="logo">
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="index.html" style="border-bottom:2px #2dc1f8 solid; color:#2dc1f8;">首页</a>
                        </li>
                        <li>
                            <a href="service">案例</a>
                        </li><!--  <li>
                            <a href="#">团队</a>
                        </li>
                        <li>
                            <a href="＃">关于</a>
                        </li>
                        <li>
                            <a href="#">登录</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div style='clear:both'></div>
        <div id="tou" ></div>
        <div id="dbk"  style='background:#f3f3f3'>
            <div class="dkklm">
                <div class="mjxiazh">
                    R&M，保护用户信息安全，就是保护R&M的生命！
                </div>
                <div class="mjxiazwz_wz">
                    <div class="mjxiazwz_wzxx">
                        客户信息的安全性既是用户的生命，也是R&M的生命，因为这是R&M得以在移动互联网市场得到用户信任的必然选择，所以R&M在研发产品之初，就以“易用、实用、安全”为标准，其中安全是三大标准之一。R&M为用户的信息安全进行了全方位地考虑，并提供了自始至终的全方位保护。
                    </div>
                    <div class="mjxiazwz_wzs">
                        顶尖级专业的数据中心——阿里云
                    </div>
                    <div class="mjxiazwz_wzxx">
                        网络信息的安全不仅需要强大的物理安保措施，更需要强大的数据安保措施，所以R&M与专业的数据中心合作，与天猫、淘宝共用一个数据服务器——阿里云，以此为用户提供顶尖级专业的信息安全保护。阿里云不仅具有国内无可匹敌的物理安保措施，断电等紧急预备措施，更重要的是具有顶尖级的数据处理能力及数据保护能力。数据交由阿里云保护，放心！
                    </div>
                    <div class="mjxiazwz_wzs">
                        顶尖级计算性能
                    </div>
                    <div class="mjxiazwz_wzxx">
                        你有看到天猫双11活动，数以千万计的天猫用户在同一时间疯抢红包的时候，天猫服务器瘫痪了吗？但是某些网站一搞活动，服务器就瘫痪，这就是阿里云飞天计算器强大的服务能力在支撑。阿里云飞天平台由数以千计的服务器联成一台“超级计算机”，拥有强大的数据处理能力，并采用数据分裂的技术将海量数据散布在整个集群内部，使计算压力也被平均分布在集群内部，提升用户的访问速度。
                    </div>
                    <div class="mjxiazwz_wzxx">
                        所以，使用R&M的用户将不用担心因使用者太多而导致系统、软件瘫痪的问题。
                    </div>
                    <div class="mjxiazwz_wzs">
                        独立的数据私密空间
                    </div>
                    <div class="mjxiazwz_wzxx">
                        每一个使用R&M的公司或者组织都在阿里云拥有各自独立的网络空间，用户的数据在存储层完全隔离并加密，用户必须通过身份验证才能访问，用户也可以随时设定自己的数据访问权限。确保用户信息的私密性、安全性。
                    </div>
                    <div class="mjxiazwz_wzxx">
                        所以，使用R&M的用户好比在阿里云拥有一栋属于自己专属别墅，并拥有顶尖级的安保措施。
                    </div>
                    <div class="mjxiazwz_wzs">
                        安全的数据备份
                    </div>
                    <div class="mjxiazwz_wzxx">
                        阿里云在飞天内核之上，给所有数据每份保存3份。你每次写入一次数据，就会通过集群的交换机写入到集群的不同位置上，虚拟磁盘数据保存在高可靠的分布式存储集群中，每一份数据都有多份拷贝分布在多个交换机下，确保数据安全。弹性计算服务还提供了灵活的快照和回滚功能，当系统损坏时可以通过快照迅速地恢复历史数据。阿里云服务系统会自动处理集群中的硬件和软件错误，对用户屏蔽这些错误。
                    </div>
                    <div class="mjxiazwz_wzxx">
                        所以，使用R&M的用户不必担心丢失数据，你每写入一次数据，你将拥有2份备份，3份数据同时消失的几率是中五百万彩票的几率。
                    </div>
                    <div class="mjxiazwz_wzs">
                        顶级数据防御保护
                    </div>
                    <div class="mjxiazwz_wzxx">
                        阿里云的集群处于多层防火墙的保护之下，阿里云的云盾为客户提供基于云端的DDoS防御、入侵防御及网站的应用安全监测等全方位的安全防御服务。弹性计算服务系统为用户提供了用户自定义的安全组和防火墙功能，同时可以自动屏蔽IP/MAC欺骗行为和ARP攻击。启用云盾后可以有效抗击来自互联网的DDoS及其他安全攻击，保证数据的安全，保障业务的持续运行。
                    </div>
                    <div class="mjxiazwz_wzxx">
                        所以使用R&M的用户好比雇佣了顶尖级网络安全团队为您的网络保驾护航。
                    </div>
                    <div class="mjxiazwz_wzxx">
                        R&M所做的一切，只希望您能放心使用，R&M全力保护您的信息安全。
                    </div>
                </div>
            </div>
        </div>
        <div class="main_foot">
            <div class="foot">
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>关于</span>
                    </li>
                    <li>
                        <a href="team">R&amp;M信息安全</a>
                    </li>
                    <li>
                        <a href="user">R&amp;M用户协议</a>
                    </li>
                </ul>
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>合作</span>
                    </li>
                    <li>
                        <a href="%EF%BC%83">商务合作：zzlmilk@icloud.com</a>
                    </li>
                    <li>电话：15901794453
                    </li>
                </ul>
                <ul class="list4">
                    <li>
                        <span>联系我们</span>
                    </li>
                    <li>电话：15901794453
                    </li>
                    <li>QQ：413124766
                    </li>
                </ul>
            </div>
        </div>
        <div class="zuidibu">
            <div class="zuidibuzj">
                Copyright © 2012 - 2014 上海R&amp;M有限公司。
            </div>
        </div><script type="text/javascript">
var default_view = 1; <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->
        </script><script type="text/javascript" src="/assets/txqqx.js">
</script>
    </body>
</html>