<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><%= stylesheet_link_tag    "css" %><%= stylesheet_link_tag    "lanrenzhijia" %><%= stylesheet_link_tag    "txcssx" %>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <title>
            ddddd
        </title>
    </head>
    <body>
        <!--qq代码结束-->
        <div class="head">
            <div class=" headk">
                <div id="logo">
                    <img src="/assets/icon4(ms).png" width="50" height="50" alt="logo">
                </div>
                <div id="menu">
                    <ul>
                        <li>
                            <a href="" style="border-bottom:2px #2dc1f8 solid; color:#2dc1f8;">首页</a>
                        </li>
                        <li>
                            <a href="service">案例</a>
                        </li><!--  <li>
                            <a href="#">团队</a>
                        </li>
                        <li>
                            <a href="＃">关于</a>
                        </li>
                        <li>
                            <a href="#">登录</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div style='clear:both'></div>
        <div id="tou"></div>
        <div class="dkk" style=" padding-bottom:20px; padding-top:20px">
            <div class="dkklm">
              
                <div class="mjxiazwz_wz">
                    <h4 style='font-size:16px; text-align:center'>用户协议</h4>

                    <div class="mjxiazwz_wzs" style=" color:#515151; font-size:14px;">
                        尊敬的用户：
                    </div>
                    <div class="mjxiazwz_wzxx">
                        您好！感谢你使用R&M！使用服务前，请仔细阅读以下条款，这些条款将帮助你访问、使用R&M（“我们”或“我们的”）网站和服务。 如果你本人使用了R&M的服务，则表示你同意接受本《用户协议》的约束。如果你代表XX组织使用本服务，“你”和“你们”则指代该组织，那么你将代表该组织同意本《用户协议》，并承诺你代表该组织接受本《用户协议》的约束。你只有遵守本《用户协议》，才可以使用R&M服务。你只有与R&M达成合同，并且达成的合同不受任何适用法律禁止时，你方可使用R&M服务。由于我们不断完善并增加新的功能，所以R&M的服务可能会随时间发生变化。我们无需事先通知你，可以在任何时间停止、中止或更改服务，我们也可以自行决定删除R&M的任何服务内容。
                    </div>
                    <div class="mjxiazwz_wzs">
                        1、合法使用R&M
                    </div>
                    <div class="mjxiazwz_wzxx">
                        R&M产品或服务仅限于为用户提供正常合法业务工具，如果用户使用我们的产品或服务从事下列行为，将导致根本性违约，我们有权随时停止提供服务、解除合约，并追讨因此而带来的损失：有明确证据表明用户使用R&M用于违反法律的行为；对我们的产品进行了对其他第三方的再授权使用、销售或转让；滥用我们产品的通信功能，如发送垃圾信息（如邮件、短信等）；对我们的服务和商誉构成损害的其他行为，如攻击我们的服务器。
                    </div>
                    <div class="mjxiazwz_wzs">
                        2、收集信息声明
                    </div>
                    <div class="mjxiazwz_wzxx">
                        为了能让您成功注册，R&M需要收集您的公司名、姓名、Email、电话等信息。当您浏览R&M时，服务器会自动收集您的IP地址，此IP地址只被计算机用来向您发送相关的页面 , 帮助您监控非授权登陆。R&M有权审核发布或删除帐户提交的信息，所有的帐户将对其发布信息的准确性、完整性、即时性、合法性承担所有责任，R&M会对帐户提交的信息检查，但并不能完全保证信息的准确性和合法性，同时也不承担由此引至的任何法律责任。R&M在任何情况下均不承担因本网站、本网站的服务或本条款而产生或与之有关的利润损失或任何特别、间接或后果性的损害（无论以何种方式产生，包括疏忽）的任何责任。
                    </div>
                    <div class="mjxiazwz_wzs">
                        3、我们的权利和义务
                    </div>
                    <div class="mjxiazwz_wzxx">
                        为付费帐户提供我们承诺的一切服务；R&M保证帐户的所有信息的网络安全性；R&M产品与服务的所有权和经营权未经书面许可仅属于马上信息科技； 对于因不可抗力造成的服务中断、链接受阻或其他缺陷（包括但不限于自然灾害、社会事件以及因网站所具有的特殊性质而产生的包括黑客攻击、电信部门技术调整导致的影响、政府管制而造成的暂时性关闭在内的任何影响网络正常运营的因素），R&M不承担任何责任，但将尽力减少因此而给会员造成的损失和影响； R&M将尽最大努力来减少错误，但网站上提供的服务和信息仍可能包含错误内容，对帐户因使用R&M网站而造成的损失不负法律责任。R&M对其服务和信息不作保证，不论什么情况下对帐户因使用R&M而造成的直接、间接、偶尔的、特殊的、惩罚性的损害或其他一切损害不负法律责任，即便事先被告知损害存在的可能性也是如此。若您对我们提供的部分或所有服务不满，您唯一的补救措施是停止使用这些服务； 如R&M原因，造成付费帐户服务的不正常中断，付费帐户有权向R&M申请顺延专业版帐户服务，但最多不超过中断时间的两倍；R&M在执行本用户协议过程中因其过错给帐户带来损失，将向帐户支付的补偿，总额不应超过帐户已向R&M支付的服务费用； R&M不承担由此致使会员蒙受的其它方面的连带损失； R&M有权决定删除帐户张贴的任何违反中国法律、法规、本用户协议的内容，或其他R&M认为不可接受的内容。情节严重者，R&M有权取消其帐户资格。
                    </div>
                    <div class="mjxiazwz_wzs">
                        4、用户隐私保护
                    </div>
                    <div class="mjxiazwz_wzxx">
                        R&M应从公司组织架构及技术的角度尽全力保证客户数据的安全，并且承诺永远不将用户产生的具体数据提供给第三方；R&M同时保留面向免费版本用户提供刊载广告的权利；客户如果需要全面、永久的删除R&M上的数据，需要以盖有公司公章的书面文档形式向R&M提出申请。
                    </div>
                    <div class="mjxiazwz_wzs">
                        5、争议解决
                    </div>
                    <div class="mjxiazwz_wzxx">
                        R&M与用户任何一方未履行条款所规定的责任均视为违约，按《合同法》规定处理；如双方在本条款范围内发生纠纷，双方应首先力争通过好协商解决。当任何争议发生时，除争议事项外，各方应继续行使各自在本条款项下的其他权利，履行各自在本条款项下的其他义务。本条款适用中华人民共和国法律。如与本条款有关的某一特定事项缺乏明确法律规定，则应参照通用的国际商业惯例和行业惯例。
                    </div>
                </div>
            </div>
        </div>
        <div class="main_foot">
            <div class="foot">
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>关于</span>
                    </li>
                    <li>
                        <a href="team">R&amp;M信息安全</a>
                    </li>
                    <li>
                        <a href="user">R&amp;M用户协议</a>
                    </li>
                </ul>
                <ul class="list3">
                    <li>
                        <!-- 网站h1修改-->
                        <span>合作</span>
                    </li>
                    <li>
                        <a href="%EF%BC%83">商务合作：zzlmilk@icloud.com</a>
                    </li>
                    <li>电话：15901794453
                    </li>
                </ul>
                <ul class="list4">
                    <li>
                        <span>联系我们</span>
                    </li>
                    <li>电话：15901794453
                    </li>
                    <li>QQ：413124766
                    </li>
                </ul>
            </div>
        </div>
        <div class="zuidibu">
            <div class="zuidibuzj">
                Copyright © 2012 - 2014 上海R&amp;M有限公司。
            </div>
        </div><script type="text/javascript">
var default_view = 1; <!--1是默认展开，0是默认关闭，新开窗口看效果，别在原页面刷新-->
        </script><script type="text/javascript" src="/assets/txqqx.js">
</script>
    </body>
</html>